.DS_Store
.idea
*~
/Character_Reversal/Character-Reversal
/Circle/circle
/Complex_Numbers/numbers
/Factor_2_and_3/Factor-2-and-3
/for_fun1/forfun
/Quantum_Energy/QuantumEnergy
/Rational_#'s_-_Add/AddRationalNumbers
/Rectangle/rectangle
/sizeof/sizeof
/Squares_Number/SquaresNumber
/Traffic_Light/traffic-light
/BubbleSort/Bubble_sorter
/Wacked/Phillip_Alday_-_Wacked_Program
/Quadratic_Calculator/QuadCalc
